POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=postgres

AUTH_DB_NAME=authdb
USER_DB_NAME=userdb
CHAT_DB_NAME=chatdb
DOCUMENTS_DB_NAME=documentsdb

AUTH_SERVICE_PORT=8080
USER_SERVICE_PORT=8081
CHAT_SERVICE_PORT=8082
DOCUMENTS_SERVICE_PORT=8083
GATEWAY_SERVICE_PORT=8084
LLM_BRAIN_SERVICE_PORT=8085
LOAD_BALANCER_PORT=8761
FRONTEND_HTTP_PORT=80
FRONTEND_HTTPS_PORT=443

JWT_SECRET=changeme
JWT_EXPIRATION=86400000

LLM_BASE_URL=http://ollama:11434/v1
LLM_API_KEY=ollama
LLM_MODEL=llama3.2:3b
COMPOSE_PROFILES=local

SPRING_PROFILES_ACTIVE=dev

GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=changeme

DEEP_ANALYSIS_MAX_LAWS_TOTAL=40
DEEP_ANALYSIS_MAX_ARTICLES_TOTAL=100
DEEP_ANALYSIS_MAX_CONFLICTS=20
DEEP_ANALYSIS_PRIMARY_LAWS=15
DEEP_ANALYSIS_ARTICLES_PER_LAW=10
DEEP_ANALYSIS_RELATED_PER_LAW_HOP2=10
DEEP_ANALYSIS_RELATED_PER_LAW_HOP3=10
